*INCLUDE
**************************************************************************
*Copyright (c) 2004 Zumasys, Inc. as an unpublished work. All rights     *
*reserved. You are free to use this code within your own applications,   *
*but you are expressly forbidden from selling or otherwise distributing  *
*this code without prior written consent. Portions based on original     *
*design by Joe Goldthwaite.                                              *
**************************************************************************
*
* MODULE: SUI.CONFIG
* AUTHOR: PJS
* VERSION: 1.0.2
* CREATED: 06/01/2004
* UPDATED: 04/07/2010
*
* MAINTENANCE RECORD:
*
* 1.0.2
*  PJS 04/07/2010
*   Updated border styles to be more consistent with modern versions
*   of Windows (flat border for text box, list & frame).
*
* 1.0.1
*  PJS 08/03/2004
*   Added SUICFG.BUTTON.SELECTED variable to define attribute
*   to display last line of active button. If the active button
*   only has one line, it is displayed using this attribute. If
*   it has two or more lines, the first lines are displayed using
*   SUICFG.BUTTON.ACTIVE, and the last line is displayed using
*   SUICFG.BUTTON.SELECTED. This is so that the active button can
*   be displayed with only the last line underlined, indicating
*   which button is active.
*
*************************************************************************
*************************************************************************
*
* SMART USER INTERFACE Configuration Module
*
*   Modify this module to customize the default behavior of
*   the Smart User Interface routines. This is an "INCLUDE"
*   Module. This module must be INCLUDEd after SUI.TERMDEF.
*
*************************************************************************
*************************************************************************
*
* Set this item to 1 if you want to change the
* cursor style to indicate whether the input
* mode is "insert" or "overtype".
*
EQU SUICFG.CURSOR.MODE TO 1
*
*************************************************************************
*
* If you use the cursor style to indicate the
* input mode, set this to 1 if you want to use
* a "block" cursor for "overtype" and a "line"
* cursor for "insert". Set to 0 for the opposite.
*
EQU SUICFG.OVER.BLOCK TO 1
*
*************************************************************************
*
* When first prompting for text input, if this is
* set to 1, the current value will be "selected".
* Entering new data will replace the existing value
* unless a cursor key is pressed.
*
EQU SUICFG.SELECT.TEXT TO 1
*
*************************************************************************
*
* When first prompting for text input, if this is
* set to 1, the initial input mode is "insert".
* Otherwise, the initial input mode is "overtype".
* Pressing the INS key toggles the input mode.
*
EQU SUICFG.INSERT.TEXT TO 1
*
*************************************************************************
*
* For multi-line text fields, this string is used for
* embedded hard line breaks. This must be a single character!
*
EQU SUICFG.NEWLINE TO CHAR(252)
*
*************************************************************************
*
* Set this item if you want to accept "double enter" at the end
* of the text to indicate that entry is complete (RtnCom is set
* to TERM.ENTER$.
*
*
EQU SUICFG.DOUBLE.ENTER TO 1
*
*************************************************************************
*
* Select the visual attribute to associate with the
* different display elements and states. There are
* four groups defined. The group is selected at runtime
* based on the capabilities of the terminal.
*
* The attribute values are:
*
* 0  = Normal
* 1  = Blink
* 2  = Reverse
* 3  = Reverse Blink
* 4  = Underline
* 5  = Underline Blink
* 6  = Underline Reverse
* 7  = Undereline Reverse Blink
* 8  = Dim
* 9  = Dim Blink
* 10 = Dim Reverse
* 11 = Dim Reverse Blink
* 12 = Dim Underline
* 13 = Dim Underline Blink
* 14 = Dim Underline Reverse
* 15 = Dim Underline Reverse Blink
*
* When using ACCUTERM special features, if borders are
* supported, select a border style to use for the various
* display elements. Border styles are:
*
* 0 = No border
* 1 = Inset border
* 2 = Raised border
* 3 = Flat border
*
*************************************************************************
*
IF TERM.ATTRTYPE < 2 AND INDEX(TERM.SPECIAL,'B',1) THEN
*
* Terminal can display multiple attributes and draw borders
*
* Assumes AccuTerm color assignments:

*  Normal = light gray / black
*  Reverse = white / black
*  Underline = light gray / black
*  Dim = light gray / dark gray
*  Underline Reverse = white / black
*  Dim Reverse = dark blue / white
*  Dim Underline = light gray / dark gray
*  Dim Underline Reverse = dark blue / white
*
*  Underline NOT disabled
*  NO border effects assigned in the color setup
*  Border size = thin or thick
*
SUICFG.DISPLAY.NORMAL     = 0  ;* normal
*
* Labels:
*
SUICFG.LABEL.NORMAL       = 0  ;* normal
SUICFG.LABEL.DISABLED     = 8  ;* dim
SUICFG.LABEL.BORDER       = 0  ;* no border
*
* Text fields:
*
SUICFG.TEXT.INACTIVE      = 0  ;* normal
SUICFG.TEXT.ACTIVE        = 2  ;* reverse
SUICFG.TEXT.SELECTED      = 10 ;* dim reverse
SUICFG.TEXT.DISABLED      = 8  ;* dim
SUICFG.TEXT.BORDER        = 3  ;* flat border
*
* Command buttons:
*
SUICFG.BUTTON.INACTIVE    = 0  ;* normal
SUICFG.BUTTON.ACTIVE      = 0  ;* normal
SUICFG.BUTTON.SELECTED    = 4  ;* underline
SUICFG.BUTTON.DISABLED    = 8  ;* dim
SUICFG.BUTTON.BORDER      = 2  ;* raised border
*
* List boxes:
*
SUICFG.LIST.INACTIVE      = 0  ;* normal
SUICFG.LIST.ACTIVE        = 2  ;* reverse
SUICFG.LIST.SELECTED      = 10 ;* dim reverse
SUICFG.LIST.DISABLED      = 8  ;* dim
SUICFG.LIST.HEADING       = 4  ;* underline
SUICFG.LIST.BORDER        = 3  ;* flat border
*
SUICFG.WINDOW.TITLE       = 10 ;* dim reverse
SUICFG.WINDOW.BORDER      = 2  ;* raised border
*
END
*
*************************************************************************
*
IF TERM.ATTRTYPE < 2 AND INDEX(TERM.SPECIAL,'B',1) = 0 THEN
*
* Terminal can display multiple attributes, no borders
*
SUICFG.DISPLAY.NORMAL     = 0  ;* normal
*
* Labels:
*
SUICFG.LABEL.NORMAL       = 0  ;* normal
SUICFG.LABEL.DISABLED     = 8  ;* dim
SUICFG.LABEL.BORDER       = 0  ;* no border
*
* Text fields:
*
SUICFG.TEXT.INACTIVE      = 10 ;* dim reverse
SUICFG.TEXT.ACTIVE        = 2  ;* reverse
SUICFG.TEXT.SELECTED      = 8  ;* dim
SUICFG.TEXT.DISABLED      = 10 ;* dim reverse
SUICFG.TEXT.BORDER        = 0  ;* no border
*
* Command buttons:
*
SUICFG.BUTTON.INACTIVE    = 10 ;* dim reverse
SUICFG.BUTTON.ACTIVE      = 6  ;* underline reverse
SUICFG.BUTTON.SELECTED    = 6  ;* underline reverse
SUICFG.BUTTON.DISABLED    = 10 ;* dim reverse
SUICFG.BUTTON.BORDER      = 0  ;* no border
*
* List boxes:
*
SUICFG.LIST.INACTIVE      = 10 ;* dim reverse
SUICFG.LIST.ACTIVE        = 2  ;* reverse
SUICFG.LIST.SELECTED      = 8  ;* dim
SUICFG.LIST.DISABLED      = 10 ;* dim reverse
SUICFG.LIST.HEADING       = 14 ;* dim underline reverse
SUICFG.LIST.BORDER        = 0  ;* no border
*
SUICFG.WINDOW.TITLE       = 12 ;* dim underline
SUICFG.WINDOW.BORDER      = 0  ;* no border
*
END
*
*************************************************************************
*
IF TERM.ATTRTYPE = 2 AND INDEX(TERM.SPECIAL,'B',1) THEN
*
* Terminal can display only one attribute and draw borders
*
SUICFG.DISPLAY.NORMAL     = 0  ;* normal
*
* Labels:
*
SUICFG.LABEL.NORMAL       = 0  ;* normal
SUICFG.LABEL.DISABLED     = 0  ;* normal
SUICFG.LABEL.BORDER       = 0  ;* no border
*
* Text fields:
*
SUICFG.TEXT.INACTIVE      = 0  ;* normal
SUICFG.TEXT.ACTIVE        = 2  ;* reverse
SUICFG.TEXT.SELECTED      = 2  ;* reverse
SUICFG.TEXT.DISABLED      = 0  ;* normal
SUICFG.TEXT.BORDER        = 3  ;* flat border
*
* Command buttons:
*
SUICFG.BUTTON.INACTIVE    = 2  ;* reverse
SUICFG.BUTTON.ACTIVE      = 2  ;* reverse
SUICFG.BUTTON.SELECTED    = 2  ;* reverse
SUICFG.BUTTON.DISABLED    = 0  ;* normal
SUICFG.BUTTON.BORDER      = 2  ;* raised border
*
* List boxes:
*
SUICFG.LIST.INACTIVE      = 0  ;* normal
SUICFG.LIST.ACTIVE        = 0  ;* normal
SUICFG.LIST.SELECTED      = 2  ;* reverse
SUICFG.LIST.DISABLED      = 0  ;* normal
SUICFG.LIST.HEADING       = 0  ;* normal
SUICFG.LIST.BORDER        = 3  ;* flat border
*
SUICFG.WINDOW.TITLE       = 0  ;* normal
SUICFG.WINDOW.BORDER      = 2  ;* raised border
*
END
*
*************************************************************************
*
IF TERM.ATTRTYPE = 2 AND INDEX(TERM.SPECIAL,'B',1) = 0 THEN
*
* Terminal can display only one attribute, no borders
*
SUICFG.DISPLAY.NORMAL     = 0  ;* normal
*
* Labels:
*
SUICFG.LABEL.NORMAL       = 0  ;* normal
SUICFG.LABEL.DISABLED     = 0  ;* normal
SUICFG.LABEL.BORDER       = 0  ;* no border
*
* Text fields:
*
SUICFG.TEXT.INACTIVE      = 0  ;* normal
SUICFG.TEXT.ACTIVE        = 2  ;* reverse
SUICFG.TEXT.SELECTED      = 2  ;* reverse
SUICFG.TEXT.DISABLED      = 0  ;* normal
SUICFG.TEXT.BORDER        = 0  ;* no border
*
* Command buttons:
*
SUICFG.BUTTON.INACTIVE    = 2  ;* reverse
SUICFG.BUTTON.ACTIVE      = 2  ;* reverse
SUICFG.BUTTON.SELECTED    = 2  ;* reverse
SUICFG.BUTTON.DISABLED    = 0  ;* normal
SUICFG.BUTTON.BORDER      = 0  ;* no border
*
* List boxes:
*
SUICFG.LIST.INACTIVE      = 0  ;* normal
SUICFG.LIST.ACTIVE        = 0  ;* normal
SUICFG.LIST.SELECTED      = 2  ;* reverse
SUICFG.LIST.DISABLED      = 0  ;* normal
SUICFG.LIST.HEADING       = 0  ;* normal
SUICFG.LIST.BORDER        = 0  ;* no border
*
SUICFG.WINDOW.TITLE       = 0  ;* normal
SUICFG.WINDOW.BORDER      = 0  ;* no border
*
END
*
*************************************************************************
*
